/* ===== BARRA DE ANUNCIOS ===== */

/* Ocultar flechas del slideshow de la barra de anuncios */
announcement-bar-component slideshow-arrows {
  display: none;
}

/* Cambiar fondo cuando la 3ª slide está activa */
.announcement-bar:has(
    .announcement-bar__slides slideshow-slide:nth-child(3)[aria-hidden="false"]
  ) {
  background: #d41d1d !important;
}

/* Transición suave */
.announcement-bar {
  font-weight: 500;
  transition: background-color 0.4s ease, background 0.4s ease;
}

/* ===== HEADER ===== */

/* Convierte tanto el header como la barra de anuncios en sticky */
#header-group {
  position: sticky;
  top: 0;
  z-index: 10000;
  background: transparent;
}

/* Mostrar el header drawer en desktop */
.header__drawer.desktop\:hidden {
  display: block !important;
}

.menu-list__list-item:has(a[href="/collections/rebajas"])
  .menu-list__link-title {
  color: #e02020;
}

/* ===== HERO SECTION SCROLL ===== */

